html{
    height:100%;
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}
button{
    padding: 8px 12px;
    font-size: 14px;
    background: rgba(128, 128, 128, 0.919);
    color: white;
    border:none;
    cursor: pointer;
    justify-content: center;
}
button:hover{
    background-color: darkblue;
}
body{
    background-color: azure;
}
.card{
    max-width: 500px;
}

